<div class="card">
    <div class="card-body">
   <div *ngFor = "let address of address">
  <dl class="row">
   
    <dt class="col-sm-3">Apartment Name :</dt>
    <dd class="col-sm-9">{{address.apartmentName}}</dd>
  
    <dt class="col-sm-3">Street Name :</dt>
    <dd class="col-sm-9">{{address.streetName}}</dd>

    <dt class="col-sm-3">City :</dt>
    <dd class="col-sm-9">{{address.city}}</dd>
 
    <dt class="col-sm-3">State :</dt>
    <dd class="col-sm-9">{{address.state}}</dd>

    <dt class="col-sm-3">Zip Code :</dt>
    <dd class="col-sm-9">{{address.pinCode}}</dd>
    
    </dl>
    <hr/>
  </div>   
 
   </div>
   </div> 





