.main-container {
    overflow-x: hidden !important;
}

.py-5 {
    overflow-y: scroll;
    height:800px;
    background-image: url('https://pingendo.github.io/templates/sections/assets/cover_event.jpg');
}